<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="helpers/headers :: html-head('List purchase lists')">
</header>
<body>
<p th:replace="helpers/menu :: main-nav">

<div class="btn-group">
    <a class="btn btn-secondary" href="/purchaseList/edit"><i class="fas fa-plus"></i> Add</a>
</div>

<table class="table" th:fragment="content">
    <thead>
    <tr>
        <th>list name</th>
        <th>list date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchaseList : ${kitchenDevices}">
        <td><a class="btn btn-link" th:href="@{/purchaseList/{plid}/list(plid=${purchaseList.getId()})}"
               th:text="${purchaseList.name}">Name</a></td>
        <td th:text="${purchaseList.getDate()}">Date</td>
        <td><a class="btn btn-link" th:href="@{/purchaseList/edit/{plid}(plid=${purchaseList.getId()})}"><i
                class="fas fa-pen"></i></a></td>
        <td><a class="btn btn-link" th:href="@{/purchaseList/{plid}/delete(plid=${purchaseList.getId()})}">
            <i class="fas fa-trash"></i></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>