<nav>
    <ul xmlns:th="http://www.thymeleaf.org" class="nav" th:fragment="main-nav">
        <li class="nav-item">
            <a class="nav-link active" href="/controller/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/controller/recipe/list">list recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/controller/recipe/edit">add recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/controller/category/list">list categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/controller/category/edit">add category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/api/browser/index.html#/">REST API Browser</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/h2">H2 Database</a>
        </li>
    </ul>
</nav>
