<nav>
    <ul xmlns:th="http://www.thymeleaf.org" class="nav" th:fragment="main-nav">
        <li class="nav-item">
            <a class="nav-link active" href="/controller/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/controller/kitchenDevice/list">list kitchen devices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/controller/kitchenDevice/edit">add kitchen device</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/browser/index.html#/">REST API Browser</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/h2">H2 Database</a>
        </li>
    </ul>
</nav>
