<div class="container">

  <button mat-raised-button (click)="openAddDialog()"><mat-icon>add</mat-icon></button>
  <button mat-raised-button (click)="removeRecipeList()"><mat-icon>remove</mat-icon></button>

  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>

  <div>
    <table mat-table matSort [dataSource]="recipes" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let recipe"> {{recipe.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let recipe"> <a href="/recipe/detail/{{recipe.id}}">{{recipe.name}}</a> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>
  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>
