<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="%d{DEFAULT} [%highlight{%level{length=4}}] %style{%pid}{FG_Magenta} [%t] %style{%c{10.}}{FG_CYAN}: %m%throwable" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="Testing" level="WARN">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <Logger name="ch.hsr.apparch.kitchenDevices.configuration.RequestLoggingFilter" level="WARN">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <Logger name="ch.hsr.apparch.kitchenDevices.Application" level="INFO">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <Logger name="ch.hsr.apparch.recipe.controller.ErrorPageController" level="error">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <Root level="FATAL">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>